<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>

<div id="contribute_area">
<% if user_signed_in? %>
  <% if !@contributeQ.user_id %>
    <!-- 未投票 -->
    <%= render partial: 'contributes/question/create_form', locals: { question: @question } %>
  <% else %>
    <!-- 投票済み -->
    <%= render partial: 'contributes/question/delete_form', locals: { question: @question } %>
  <% end %>
<% else %>
<!-- 未ログイン(ボタンなし) -->
<p><%= "#{@question.q_points.length-1}人がこれが役に立ったと考えています" %></p>
<% end %>
</div>

  <p>回答一覧</p>
  <div id="answers_area">
    <%= render partial: 'answers/index', locals: { answers: @answers, question: @question } %>
  </div>
  <%= render partial: 'answers/form', locals: { answer: @answer, question: @question } %>

  <%= render 'questions/tag_list', tag_list: @question.tag_list %></td>

  <div id="favorite_area">
  <% if user_signed_in? %>
    <% if !@favorite.user_id %>
       <%= render partial: 'favorites/form', locals: { favorite: @favorite, user: @user } %>
       <p><%= @favorites.length-1 %></p>
    <% else %>
        <%= link_to image_tag("star_on.png"),  [@user, @favorite], :method => :delete  %>
        <p><%= @favorites.length %></p>
    <% end %>
  <% else %>
      <%= image_tag("star_off.png")  %>
      <p><%= @favorites.length %></p>
  <% end %>
  </div>
</div>
