<div class="container">
  <h2><%= @user.name %>さんの詳細</h2>
  <%= profile_img(@user) %>
  <p><%= @user.name %></p>
  <p><%= @user.profile %></p>
  <p><%= @user.email %></p>
  <p>貢献度</p>
  <p><%= "質問:#{@user.q_points.length} 回答:#{@user.a_points.length}" %></p>
  <% if current_user && @user.id === current_user.id %>
      <p><%= link_to '編集する', edit_user_registration_path %></p>
  <% end %>
</div>
