<ul class="answer-list">
  <% answers.each do |answer| %>
      <% unless answer.id.nil? %>
          <li id="<%= answer.id %>">
            <p class="text-left"><%= answer.content %></p>
            <% if user_signed_in? && current_user.id == answer.user.id %>
                <p class="text-right">
                  <%= link_to '', edit_question_answer_path(question, answer), class: "fa fa-pencil-square-o fa-lg" %>
                  <%= link_to '', question_answer_path(question, answer), class: "fa fa-trash-o fa-lg", method: :delete, remote: true, data: {confirm: '本当に削除していいですか？'} %>
                </p>
            <% end %>
            <div class="text-right">
              <p>answered <%= answer.created_at.strftime("%Y年 %m月 %d日, %H:%M:%S") %></p>
              <p><%= link_to answer.user.name, user_path(answer.user) %></p>
            </div>
            <div id="contribute_area" class="text-left">
            <% if user_signed_in? %>
              <% if !(getContributeA(answer).user_id) %>
                <!-- 未投票 -->
                <%= render partial: 'contributes/answer/create_form', locals: { question: question, answer: answer } %>
              <% else %>
                <!-- 投票済み -->
                <%= render partial: 'contributes/answer/delete_form', locals: { question: question, answer: answer, contribute: getContributeA(answer) } %>
              <% end %>
            <% else %>
            <!-- 未ログイン(ボタンなし) -->
            <p><%= "#{answer.a_points.length}人がこの回答が役に立ったと考えています" %></p>
            <% end %>
            </div>

          </li>
      <% end %>
  <% end %>
</ul>
