<!DOCTYPE html>
<html>
<head>
  <title>Dive23/7</title>
  <%= include_gon(:init => true) %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="global-header">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'お問い合わせ', '' %></li>
            <% if user_signed_in? %>
                <li><%= link_to 'マイページ', user_path(current_user) %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
                <li><%= link_to 'ログイン', new_user_session_path %></li>
                <li><%= link_to 'サインアップ', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>

  <div class="content-header">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 col-sm-10">
        <h1 class="page-title pull-left">
          <%= link_to root_path do %>
              diver stack <b>overflow</b>
          <% end %>
        </h1>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" <%= switch_active_class('questions', 'index') %>><%= link_to '質問', questions_path %></li>
          <li role="presentation" <%= switch_active_class('tag', 'index') %>><%= link_to 'タグ', tag_index_path %></li>
          <li role="presentation" <%= switch_active_class('users', 'index') %>><%= link_to 'ユーザー', users_path %></li>
          <li role="presentation" <%= switch_active_class('questions', 'new') %>><%= link_to '質問する', new_question_path %></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<%= yield %>

<footer>
  <p>© 2017 Copyright Dive23/7.</p>
</footer>
</body>
</html>
